*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    font-size: 62.5%;
    flex-wrap: wrap;

}

header{
    
    display: flex;
    padding: 1rem ;
    background-color: rgba(85, 85, 85, 0.434);
    text-align: center;
    list-style: none;
    border: .1rem solid black;
    
}

img{

    width: 6rem;

}

.menu{

    display: flex;
    list-style: none;
    gap: 1rem;
    text-align: end;
    color: black;


}

a{
    
    text-decoration: none; 
    color: black;
    
 
}