*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    font-size: 62.5%;
    flex-wrap: wrap;

}

header{
    
    padding: 1rem ;
    background-color: rgba(85, 85, 85, 0.434);
    border: .1rem solid black;
    
}

img{

    width: 6rem;
    display: block;

}

.menu{

    display: flex;
    list-style: none;
    gap: 1rem;
    text-align: end;
    color: black;
    align-items: center;

}

a{
    
    text-decoration: none; 
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    font-size: large;

}

nav{

    display: flex;
    justify-content: space-between;

}

/* ------------------------------------------------------------------------------- */

main{
    
    display: flex;
    padding: 10rem;    
    background-color: rgba(208, 194, 194, 0.768);
    justify-content: center;
    min-height: 100vh;
    
}

@media (max-width: 700px) {
    main{
     padding: 5rem;
    }
    header{
        padding: .5rem;
    }
    a{
        font-size: medium;
    }
}

@media (max-width: 450px) {
    main{
        padding: 2.5rem;
    }
    header{
        padding: .1rem;
    }
    a{
        font-size: small;
    }
    
}



.gta{
   
   width: 30rem;
   height: 20rem;
   border: .5rem solid black;
   box-shadow: 0rem 0rem 2rem black;
   object-fit: cover;
   border-radius: 1rem 1rem 1rem 1rem;
   transition: .4s;
   
   
}

.gta:hover{

    transform: scale(1.1)
}


.foto{

   flex-wrap: wrap;
   text-align: center;
   display: flex;
   gap: 2rem;
   justify-content: center ;
  
      
}



@media (max-width: 1060px) {
    .gta{
        width: 25rem;
        height: 25rem;
    }
}

@media (max-width: 713px){
    .gta{
        width: 30rem;
        height: 30rem;
    }
}

.ventana{

    width: 60rem;
    height: 55rem;
    background-color: rgba(159, 159, 159, 0.936);
    margin: auto;
    
    

}

.img{

   /* width: 30rem; */
   height: 32rem;
   border: .5rem solid black;
   box-shadow: 0rem 0rem 2rem black;
   object-fit: cover;
   border-radius: 1rem 1rem 1rem 1rem;
   gap: 5rem;
   display: block;
   width: auto;
   
}

h1{

    padding: 3rem;

}

button{

    width: 10rem;
    border-radius: 1rem;
    
}


p{

    font-size: medium;
    color: black;
    padding: 1rem;

}


.close{
      
    width: 3rem;
    background-color: rgba(255, 0, 0, 0.64);
    border-radius: 50%;
    position: relative;
    margin-left: 80%;
    

}

.comprar{

    text-align: center;
    background-color: rgb(168, 168, 243);
    margin: 2rem;
    position: relative;    
    
}


/* ------------------------------------------------------------------------------------------ */


footer{

    background-color:  rgba(85, 85, 85, 0.434);
    text-align: center;
    padding: 2rem;
    font-size: larger;
    margin-top: auto;
}