* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.barra{

    position: fixed;
    justify-content: space-between;
    z-index: 1;
    width: 100%;

}



h1 {

    color: black;
    font-size: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: bisque;
    width: 100%;
    margin: 2rem;

}

body {
    background-color: rgb(30, 25, 25);
}

html {

    font-size: 62.5%;
    flex-wrap: wrap;

}



.logo {

    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 5rem;

}


header>nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: rgb(78, 146, 188);
    color: black;
    box-shadow: 0rem 0rem 2rem rgb(0, 0, 0);
    

}


nav>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: black;

}

li {

    transition: .3s;

}

li:hover {

    transform: scale(1.1);

}


.social {

    display: flex;
    justify-content: space-between;
    width: 5rem;
    height: 5rem;
    gap: .5rem;

}


a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}


main {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 5rem; */
    /* margin-top: 5rem; */

}

.gta {

    gap: 2rem;
    width: 30rem;
    height: 30rem;
    border: .2rem solid rgb(184, 28, 184);
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0rem 0rem 2rem purple;
    gap: 8rem;
    background-color: black;
    object-fit: cover;
    opacity: 0.6;


}

.gta:hover {

    transform: scale(1.1);
    transition: .5s;
    opacity: 1;

}

.foto {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    transition: .2s;

}


footer {

    background-color: rgb(78, 146, 188);
    text-align: center;
    padding: 2rem;
    font-size: larger;
    margin-top: auto;

}