* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@media (screen 650px ){

.logo{

margin: 0;

}
    
}


h1{
    color: rgb(223, 12, 202);
    font-size: bold;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

body{
    background-color: rgb(30, 25, 25);
}

html {

    font-size: 62.5%;
    flex-wrap: wrap;

}



.logo {

    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;

}


header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: rgb(113, 8, 155);
    color: black;
    box-shadow: 0rem 0rem 2rem rgb(0, 0, 0);
   
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: black;
}


.social{
 
    display: flex;
    justify-content: space-between;
        
}


a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

img{
    gap: 2rem;
    width: 30rem;
    height: 30rem;
    border: .2rem solid rgb(184, 28, 184);
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0rem 0rem 2rem purple;
    gap: 8rem;
    background-color: black;

}

img:hover{

    transform: scale(1.1);
    transition: .5s;

}