* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body {

    background-color: rgb(30, 25, 25)

}

html {

    font-size: 62.5%;
    
}

h1 {
    margin: .5rem;
}

span {
    font-weight: bold;
    text-transform: uppercase;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: beige;
    color: black;
    
}

nav>ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    color: black;

}

a {

    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    
}

/* ---------------------------------------------------------- */


main {
    background-color: bisque;
}

.card{

    background-color: rgb(204, 129, 142);
    margin: 2rem;
    padding: 2rem;
    border: .2rem solid rgb(76, 62, 62);
    border-radius: 1rem 0;
    flex-wrap: wrap;
    width: 20rem;
    text-align: justify;
    
}

